- meta description: "El Paraíso is an ecolodge getaway with ocean-view overlooking Samana Bay. It's truly a unique way to experience the Dominican Republic and its natural beauty.", keywords: %w(ecolodge bungalow samana las galeras guazuma dominican republic villa paraiso rent room airbnb travel vacations republica dominicana paradise las terrenas house)

#hero
  #overlay
    #superhost
    .slide.first
      #headline 
        %h1 Villa & Bungalow rooms for rent
        %h2 
          = image_tag 'icons/geo.png', alt: 'Las Galeras, Samana'
          Las Galeras, Dominican Republic
        = link_to 'See the rooms', "#rooms", id: 'cta'
    .slide.second
      = video_tag ["samana.mp4","samana.ogv"], :controls => false, :autoplay => "autoplay", :loop => "loop", :preload => 'auto'
    %button.w3-button.w3-display-left{ :onclick=> "plusDivs(-1)" }
      &#10094;
    %button.w3-button.w3-display-right{ :onclick=> "plusDivs(+1)"} 
      &#10095;

#reviews
  = link_to 'https://www.airbnb.com/users/show/60995700', id: 'airbnb', target: "_blank" do
    %h6 Airbnb Rating
    .score 5.0
    = image_tag "icons/airbnb_stars.png", class: 'rating'
    .total 350+ Reviews
    .review &ldquo;Pictures do no justice to this beautiful paradise. The views are spectacular...&rdquo;
    /.more-reviews see more reviews...

  = link_to 'https://www.lonelyplanet.com/dominican-republic/las-galeras/hotels/casa-el-paraiso/a/lod/e2779545-1004-4c8f-92ee-968b21cc34c8/358033', id: 'lonely-planet', target: "_blank" do
    %h6 

  = link_to 'https://www.housebeautiful.com/lifestyle/g26949434/airbnb-casa-el-paraiso-dominican-republic/', id: 'house-beautiful', target: "_blank" do
    %h6 

  = link_to 'https://www.hoppingaroundtheglobeinstyle.com/paradise-found-bunnys-review-of-villa-paraiso-in-las-galeras-dominican-republic/', id: 'bunnys', target: "_blank" do
    %h6 


#content

  #description.wrapper

    .item
      .item-image.left
        = link_to image_tag("rooms/thumbnails/room-1.jpg", alt: 'Ocean-view bungalow rooms for rent.'), asset_path("rooms/room-1.jpg")
      .item-description
        %h3.item-title A one-of-a-kind experience
        %p.item-text "El Paraíso" is a rustic getaway situated atop cliffs overlooking Samana Bay. Constructed from natural and local materials, it's truly a one-of-a-kind way to experience the Dominican Republic and its natural beauty.

    .item
      .item-image.right
        = link_to image_tag("thumbnails/pool.jpg", alt: 'The pool with ocean-view.'), asset_path("pool.jpg")
      .item-description
        %h3.item-title Immerse yourself in nature
        %p.item-text Surrounded by tropical gardens and overall amazing views, its a very special place where you can immerse yourself in nature, find tranquility and connect with your inner self and your beloved ones.



  #expand click images to expand
  #gallery

    = link_to image_tag("thumbnails/living-room-entrance.jpg", alt: 'Living room entrance.'), asset_path("living-room-entrance.jpg"), class: 'thumbnail'
    = link_to image_tag("thumbnails/dinner-table.jpg", alt: 'Dinner table.'), asset_path('dinner-table.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/pool-pov.jpg", alt: 'Pool.'), asset_path('pool-pov.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/poolside-bar.jpg", alt: 'Poolside bar.'), asset_path('poolside-bar.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/poolside-area.jpg", alt: 'Poolside area.'), asset_path('poolside-area.jpg'), class: 'thumbnail'

  #rooms
    .wrapper
      %h2 Rooms.
      %span Available for rent via Airbnb.
      #big-group
        Big group?
        =link_to 'Rent the Villa', "#villa"

      = form_tag('/search', remote: true, id: 'availability') do

        %em Check Availability:
        = label_tag :checkin, 'Check In'
        = text_field_tag :checkin, '', class: 'datepicker', placeholder: 'dd/mm/yyyy'

        = label_tag :checkout, 'Check Out'
        = text_field_tag :checkout, '', class: 'datepicker', placeholder: 'dd/mm/yyyy'

        = submit_tag 'Search Dates', type: :submit

    - @rooms.each do |r|
      .room
        .wrapper
          .room-number ##{r.number}
          .room-images
            = link_to image_tag("rooms/thumbnails/room-#{r.number}.jpg", alt: ''), asset_path("rooms/room-#{r.number}.jpg")
            = link_to image_tag("rooms/thumbnails/room-#{r.number}-view.jpg", alt: ''), asset_path("rooms/room-#{r.number}-view.jpg")
            = link_to image_tag("rooms/thumbnails/room-#{r.number}-bathroom.jpg", alt: ''), asset_path("rooms/room-#{r.number}-bathroom.jpg")
          %ul.room-info
            %li
              = image_tag('icons/guest.png')
              #{r.capacity} guests
            %li
              = image_tag('icons/bed.png')
              #{r.beds} bed
            %li
              = image_tag('icons/size.png')
              #{r.size}m<sup>2</sup>
            %li
              = image_tag('icons/bathroom.png')
              #{r.bathrooms} bathroom

          .room-desc
            %p
              = r.description
              /%span= image_tag "icons/airbnb_stars"
              = link_to 'Book now through Airbnb', "https://www.airbnb.com/rooms/#{r.airbnb_id}", class: 'book', target: '_blank'

  #villa
    .wrapper
      %h2 Rent the Villa.
      %span Ideal for big families or groups.

      .room
        .wrapper
          .room-number
          .room-images
            = link_to image_tag("thumbnails/living-room-entrance.jpg", alt: 'Living room entrance.'), asset_path("living-room-entrance.jpg"), class: 'thumbnail'
          %ul.room-info
            %li
              = image_tag('icons/guest.png')
              15 guests
            %li
              = image_tag('icons/bed.png')
              9 beds
            %li
              = image_tag('icons/size.png')
              5700m<sup>2</sup>
            %li
              = image_tag('icons/bathroom.png')
              7 bathrooms

          .room-desc
            %p
              All five open-design bungalow rooms and one studio room with air conditioning to accomodate your whole group.
              = link_to 'Book now through Airbnb', "https://www.airbnb.com/rooms/12092507", class: 'book', target: '_blank'


  #services
    %h2 Additional Services
    %ul.wrapper
      %li Breakfast <span>(included)</span>
      %li Housekeeping <span>(included)</span>
      %li Bar
      %li Dominican Cook
      %li Picnic Baskets
      %li Yoga Session
      %li Reiki Session
      %li Catamaran Excursion
      %li Dinner by Chef Mirko

  #location
    %h2 Location

    #map.wrapper
      %iframe{:src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1205829.7240267175!2d-69.89551042944235!3d19.250776892870743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a3d9ac3f3a6ec7f!2sCasa+El+Paraiso!5e0!3m2!1sen!2ses!4v1483461678445", :width => "100%", :height => "500", :frameborder => "0"}


  #media
    .wrapper 
      /%h2 Media
      /%iframe{:width => "100%", :height => "500", :src=> "https://www.youtube.com/embed/1oi4DoBWpTw", :frameborder=> "0", :allow=> "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}
      /%p Credit: <a href="https://www.hoppingaroundtheglobeinstyle.com" target="_blank">https://www.hoppingaroundtheglobeinstyle.com</a>


