- meta description: "El Paraíso is a top rated ecolodge getaway with amazing ocean views. It's truly a unique way to experience the Dominican Republic and its natural beauty.", keywords: %w(ecolodge bungalow samana las galeras guazuma dominican republic villa paraiso rent room airbnb travel vacations republica dominicana paradise las terrenas house)

#hero
  #overlay
    .slide.first
      /= image_tag "rooms/5/2.jpg", alt: 'Room view', rel: "preload"
      #headline
        %h1 Ocean view rooms for rent
        %h2
          /= image_tag 'icons/geo.png', alt: 'Las Galeras, Samana'
          Top rated airbnb in Dominican Republic
        = link_to 'See the rooms', "#rooms", id: 'cta'

#content

  #description
    .wrapper

      .item
        .item-image.left
          = link_to image_tag("rooms/1/thumbnails/1.jpg", alt: 'Ocean-view bungalow rooms for rent.'), asset_path("rooms/1/1.jpg")
        .item-description
          %h3.item-title A one-of-a-kind experience
          %p.item-text "El Paraíso" is a rustic getaway situated atop cliffs overlooking beautiful Samana Bay. It offers private bungalow rooms perfect for couples with a series of activities nearby including zip lines, whale watching, diving and more.

      .item
        .item-image.right
          = link_to image_tag("immerse-yourself.jpg", alt: 'The pool with ocean-view.'), asset_path("immerse-yourself.jpg")
        .item-description
          %h3.item-title Immerse yourself in nature
          %p.item-text Constructed from local materials that blend into the surrounding ecosystem, its a place where you can immerse yourself in nature, find tranquility and connect with your inner self and your beloved ones.

  #strip

    = link_to image_tag("thumbnails/deck.jpg", alt: 'Deck area.'), asset_path("deck.jpg"), class: 'thumbnail'
    = link_to image_tag("thumbnails/pool-view.jpg", alt: 'Pool sunset view.'), asset_path('pool-view.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/sunbed.jpg", alt: 'Sun bed.'), asset_path('sunbed.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/social-area.jpg", alt: 'Social area.'), asset_path('social-area.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/hosts.jpg", alt: 'Hosts: Nora & Jose.'), asset_path('hosts.jpg'), class: 'thumbnail'

  #rooms
    .wrapper
      %div
        %h2 Our Rooms
        #big-group
          Big group?
          = link_to 'Rent the Villa', "https://www.airbnb.com/rooms/12092507?s=67&shared_item_type=1&virality_entry_point=1", target: '_blank'

      = form_tag('/search', remote: true, id: 'availability') do

        %em Check Availability:
        = label_tag :checkin, 'Check In'
        = text_field_tag :checkin, '', class: 'datepicker', placeholder: 'dd/mm/yyyy'

        = label_tag :checkout, 'Check Out'
        = text_field_tag :checkout, '', class: 'datepicker', placeholder: 'dd/mm/yyyy'

        = submit_tag 'Search Dates', type: :submit

      %ul
        - @rooms.each do |r|
          %li.room
            .room-images
              - r.getImages.each do |image|
                = link_to image_tag("rooms/#{r.number}/thumbnails/#{image}.jpg", alt: ''), asset_path("rooms/#{r.number}/#{image}.jpg")
            .room-number Room ##{r.number}
            .room-price USD $#{"%.2f" % r.price}
            %ul.room-info
              %li
                = image_tag('icons/guest.png')
                #{r.capacity} guests
              %li
                = image_tag('icons/bed.png')
                #{r.beds} bed
              %li
                = image_tag('icons/size.png')
                #{r.size}m<sup>2</sup>
              %li
                = image_tag('icons/bathroom.png')
                #{r.bathrooms} bathroom

            .room-desc
              %p
                = r.description
                /%span= image_tag "icons/airbnb_stars"
                = link_to 'Book now through Airbnb', "https://www.airbnb.com/rooms/#{r.airbnb_id}?s=67&shared_item_type=1&virality_entry_point=1", class: 'book', target: '_blank'

  #parallax
    %span Immerse yourself in nature
    = video_tag ["parallax.mp4"], :controls => false, :muted => "muted", :autoplay => "autoplay", :loop => "loop", :preload => 'none', width: "100%", height: "auto"

  #airbnb-reviews
    .wrapper{ style: "position: relative"}
      %script{src:"https://apps.elfsight.com/p/platform.js", async:"true", defer:"true"}
      %div.elfsight-app-02504cae-b997-4cbb-bb55-93f5a31367bd
      = link_to 'See all', 'https://www.airbnb.com/users/60995700/listings', target:'_blank'

  #services
    /%h2 Additional Services
    /%ul.wrapper
    /%li Breakfast <span>(included)</span>
    /%li Housekeeping <span>(included)</span>
    /%li Bar
    /%li Dominican Cook
    /%li Catamaran Excursion
    /%li Dinner by Chef Mirko

