- meta description: "El Paraíso is an ecolodge getaway with ocean-view overlooking Samana Bay. It's truly a unique way to experience the Dominican Republic and its natural beauty.", keywords: %w(ecolodge bungalow samana las galeras guazuma dominican republic villa paraiso rent room airbnb travel vacations republica dominicana paradise las terrenas house)

#hero
  #overlay
    #superhost
    .slide.first
      #headline 
        %h1 Ocean view rooms for rent
        %h2 
          = image_tag 'icons/geo.png', alt: 'Las Galeras, Samana'
          Las Galeras, Dominican Republic
        = link_to 'See the rooms', "#rooms", id: 'cta'
    .slide.second
    %button.w3-button.w3-display-left{ :onclick=> "plusDivs(-1)" }
      &#10094;
    %button.w3-button.w3-display-right{ :onclick=> "plusDivs(+1)"} 
      &#10095;

#reviews
  = link_to '', 'https://www.marieclaire.com/travel/g27243755/airbnb-casa-el-paraiso-dominican-republic/?utm_medium=social-media&utm_source=facebook&utm_campaign=socialflowFBMAR', id: 'marie-claire', target: "_blank"

  = link_to '', 'https://www.lonelyplanet.com/dominican-republic/las-galeras/hotels/casa-el-paraiso/a/lod/e2779545-1004-4c8f-92ee-968b21cc34c8/358033', id: 'lonely-planet', target: "_blank" 

  = link_to '', 'https://www.tourcert.org/en/services/check/', id: 'tour-cert', target: "_blank" 

  = link_to '', 'https://www.hoppingaroundtheglobeinstyle.com/paradise-found-bunnys-review-of-villa-paraiso-in-las-galeras-dominican-republic/', id: 'bunnys', target: "_blank" 


#content

  #description
    .wrapper

      .item
        .item-image.left
          = link_to image_tag("rooms/1/thumbnails/room-1.jpg", alt: 'Ocean-view bungalow rooms for rent.'), asset_path("rooms/room-1.jpg")
        .item-description
          %h3.item-title A one-of-a-kind experience
          %p.item-text "El Paraíso" is a rustic getaway situated atop cliffs overlooking beautiful Samana Bay. It offers private bungalow rooms perfect for couples with a series of activities nearby including zip lines, whale watching, diving and more.

      .item
        .item-image.right
          = link_to image_tag("thumbnails/pool.jpg", alt: 'The pool with ocean-view.'), asset_path("pool.jpg")
        .item-description
          %h3.item-title Immerse yourself in nature
          %p.item-text Constructed from local materials that blend into the surrounding ecosystem, its a place where you can immerse yourself in nature, find tranquility and connect with your inner self and your beloved ones.

  #airbnb-reviews
    .wrapper{ style: "position: relative"}
      %script{src:"https://apps.elfsight.com/p/platform.js", async:"true", defer:"true"}
      %div.elfsight-app-4803f151-1145-49c3-b958-1b8c74bb88a7
      = link_to 'See all', 'https://www.airbnb.com/users/60995700/listings', target:'_blank'

  #strip

    = link_to image_tag("thumbnails/living-room-entrance.jpg", alt: 'Living room entrance.'), asset_path("living-room-entrance.jpg"), class: 'thumbnail'
    = link_to image_tag("thumbnails/dinner-table.jpg", alt: 'Dinner table.'), asset_path('dinner-table.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/pool-pov.jpg", alt: 'Pool.'), asset_path('pool-pov.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/poolside-bar.jpg", alt: 'Poolside bar.'), asset_path('poolside-bar.jpg'), class: 'thumbnail'
    = link_to image_tag("thumbnails/poolside-area.jpg", alt: 'Poolside area.'), asset_path('poolside-area.jpg'), class: 'thumbnail'

  #rooms
    .wrapper
      %div
        %h2 Rooms.
        %span Available for rent via Airbnb.
        #big-group
          Big group?
          =link_to 'Rent the Villa', "#villa"

      = form_tag('/search', remote: true, id: 'availability') do

        %em Check Availability:
        = label_tag :checkin, 'Check In'
        = text_field_tag :checkin, '', class: 'datepicker', placeholder: 'dd/mm/yyyy'

        = label_tag :checkout, 'Check Out'
        = text_field_tag :checkout, '', class: 'datepicker', placeholder: 'dd/mm/yyyy'

        = submit_tag 'Search Dates', type: :submit

      %ul
        - @rooms.each do |r|
          %li.room
            .room-images
              - r.getImages.each do |image|
                = link_to image_tag("rooms/#{r.number}/thumbnails/#{image}.jpg", alt: ''), asset_path("rooms/#{r.number}/#{image}.jpg")
            .room-number Room ##{r.number}
            .room-price USD $#{"%.2f" % r.price}
            %ul.room-info
              %li
                = image_tag('icons/guest.png')
                #{r.capacity} guests
              %li
                = image_tag('icons/bed.png')
                #{r.beds} bed
              %li
                = image_tag('icons/size.png')
                #{r.size}m<sup>2</sup>
              %li
                = image_tag('icons/bathroom.png')
                #{r.bathrooms} bathroom

            .room-desc
              %p
                = r.description
                /%span= image_tag "icons/airbnb_stars"
                = link_to 'Book now through Airbnb', "https://www.airbnb.com/rooms/#{r.airbnb_id}?s=67&shared_item_type=1&virality_entry_point=1", class: 'book', target: '_blank'

  #parallax
    %span Immerse yourself in nature
    = video_tag ["parallax.mp4"], :controls => false, :muted => "muted", :autoplay => "autoplay", :loop => "loop", :preload => 'none', width: "100%", height: "auto"

  #villa
    .wrapper
      %div
        %h2 Rent the Villa.
        %span Ideal for big families or groups.

      .room
        .wrapper
          .room-number
          .room-images
            = link_to image_tag("thumbnails/living-room-entrance.jpg", alt: 'Living room entrance.'), asset_path("living-room-entrance.jpg"), class: 'thumbnail'
          %ul.room-info
            %li
              = image_tag('icons/guest.png')
              15 guests
            %li
              = image_tag('icons/bed.png')
              8 beds
            %li
              = image_tag('icons/size.png')
              5700m<sup>2</sup>
            %li
              = image_tag('icons/bathroom.png')
              7 bathrooms

          .room-desc
            %p
              All five open-design bungalow rooms and one studio room with air conditioning to accomodate your whole group.
              = link_to 'Book now through Airbnb', "https://www.airbnb.com/rooms/12092507?s=67&shared_item_type=1&virality_entry_point=1", class: 'book', target: '_blank'


  #services
    /%h2 Additional Services
    /%ul.wrapper
    /%li Breakfast <span>(included)</span>
    /%li Housekeeping <span>(included)</span>
    /%li Bar
    /%li Dominican Cook
    /%li Catamaran Excursion
    /%li Dinner by Chef Mirko

  #media
    .wrapper 
      /%h2 Media
      /%iframe{:width => "100%", :height => "500", :src=> "https://www.youtube.com/embed/1oi4DoBWpTw", :frameborder=> "0", :allow=> "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}
      /%p Credit: <a href="https://www.hoppingaroundtheglobeinstyle.com" target="_blank">https://www.hoppingaroundtheglobeinstyle.com</a>


