<!DOCTYPE html>
<html lang="en">
<head>
  <title>Casa El Paraíso Official Page | Bungalow rooms for rent in Las Galeras, Dominican Republic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/lightgallery/1.3.7/css/lightgallery.min.css" %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/g/lightgallery,lg-thumbnail" %>
  <%= csrf_meta_tags %>
  <%= metamagic %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="google-site-verification" content="JDx05ra1ffZaNraIv-5dPBWn_oz2a1QG4gNgUhQJL7k" />


</head>
<body>
  <header class=<%= "fixed" if !current_page?(root_path) %>>
    <nav>
      <label for="hamburger">&#9776; Menu</label>
      <input type="checkbox" id="hamburger"/>

    <ul>
      <li><%= link_to 'Home', root_path, class: current_class?(root_path) %></li>
      <li><%= link_to 'Gallery', gallery_path, class: current_class?(gallery_path) %></li>
      <li><%= link_to 'Chef Mirko', chef_path, class: current_class?(chef_path) %></li>
      <li><%= link_to 'Location', location_path, class: current_class?(location_path) %></li>
    </div>
    </nav>
    <%= link_to image_tag("el-paraiso.png", alt: 'Casa El Paraiso. Bungalow rooms for rent in Las Galeras'), '/' %>
  </header>
  <%= yield %>

  <!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-90317567-1', 'auto');
	ga('send', 'pageview');
	</script>

</body>
</html>
